<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Github
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="home">
  <ion-searchbar placeholder="Ex: ionic, java, nodejs" [(ngModel)]="textSearch"></ion-searchbar>
  <ion-card *ngFor="let rep of repositorios">
    <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="rep.owner.avatar_url">
          </ion-avatar>
          <ion-label>
            {{rep.full_name}}
          </ion-label>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>{{rep.description}}</p>
      <ion-badge color="dark">{{rep.language}}</ion-badge>&nbsp;
      <ion-badge color="dark">{{rep.default_branch}}</ion-badge>
    </ion-card-content>
  
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-button expand="block" color="success" (click)="pesquisar()">Pesquisar</ion-button>
</ion-footer>
